{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista szczegółowa</h1>

    <table>
        <thead>
            <tr>
                {#<th>Isdeleted</th>#}
                <th><div class="col-md-3"><p>Osoba</p></div></th>
                <th><div class="col-md-6"><p>Kontakt</p></div></th>

            </tr>
        </thead>
        <tbody>
        {% for contactDetail in contactDetails %}
            <tr>
                <td><div class="col-md-3"><p>{{ contactDetail.contact }}</p></div></td>
                {#<td><div class="col-md-6"><p>{{ contactDetail.value }}</p></div></td>#}
                <td>{% if contactDetail.value == '0' or contactDetail.value == null %}
                        Brak kontaktu


                    {% else %}{{ contactDetail.value }}{% endif %}</td>
                {#<td>{{ contactDetail.fieldType.fieldType }}</td>#}
                {#<td>{% if contactDetail.contact.isDeleted %}Usunięty{% else %}Nie usunięty{% endif %}</td>#}

                {#<td>#}
                    {#<a href="{{ path('contact_value', { 'id': contactDetail.fieldType.id, 'contact': contactDetail.contact.id }) }}">Dodaj</a>#}
                {#</td>#}
                <td><div class="col-md-3">
                    <p><a href="{{ path('contactdetails_edit', { 'id': contactDetail.id }) }}">Dodaj kontakt</a>
                        </p>
                </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contactdetails_new') }}">Dodaj nowy kontakt</a>
        </li>
    </ul>
{% endblock %}
