{% extends 'base.html.twig' %}

{% block body %}
    <h1>ContactDetails list</h1>

    <table>
        <thead>
            <tr>
                {#<th>Isdeleted</th>#}
                <th>Id</th>
                <th>Id kontaktu</th>
                <th>Imię i nazwisko</th>
                <th>Rodzaj kontaktu</th>

            </tr>
        </thead>
        <tbody>
        {% for contactDetail in contactDetails %}
            <tr>

                <td>{{ contactDetail.id }}</td>
                <td>{{ contactDetail.contact.id }}</td>
                <td>{{ contactDetail.contact }}</td>
                {#<td>{{ contactDetail.value }}</td>#}
                <td>{{ contactDetail.fieldType.fieldType }}</td>
                <td>{{ contactDetail.fieldType.id }}</td>
                {#<td>{% if contactDetail.contact.isDeleted %}Usunięty{% else %}Nie usunięty{% endif %}</td>#}

                {#<td>#}
                    {#<a href="{{ path('contact_value', { 'id': contactDetail.fieldType.id, 'contact': contactDetail.contact.id }) }}">Dodaj</a>#}
                {#</td>#}
                <td>
                    <a href="{{ path('contactdetails_edit', { 'id': contactDetail.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contactdetails_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
