{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodawanie wartości</h1>
    {#{% for contact in detail %}#}
    <tr>
        <th>Typ formularza</th>
        <td>{{ detail }}</td>

        <th>Kontakt</th>
        <td>{{ contact }}</td>
    </tr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}








{% endblock %}
