{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista postów</h1>
    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Status</th>
                <th>Data dodania</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('tasks_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.status %}Yes{% else %}No{% endif %}</td>
                <td>{% if task.posted %}{{ task.posted|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tasks_show', { 'id': task.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('tasks_edit', { 'id': task.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tasks_new') }}">Dodaj nowy post</a>
        </li>
    </ul>
{% endblock %}
