{% extends 'base.html.twig' %}

{% block body %}
    <h1>FieldTypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Isactive</th>
                <th>Fieldtype</th>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fieldType in fieldTypes %}
            <tr>
                <td><a href="{{ path('fieldtypes_show', { 'id': fieldType.id }) }}">{{ fieldType.isActive }}</a></td>
                <td>{{ fieldType.fieldType }}</td>
                <td>{{ fieldType.name }}</td>
                <td>{{ fieldType.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fieldtypes_show', { 'id': fieldType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fieldtypes_edit', { 'id': fieldType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fieldtypes_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
