{% extends 'base.html.twig' %}

{% block body %}
    <h1>Squad list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Filenameee</th>
                <th>Mimeee</th>
                <th>Contentsss</th>
                <th>Descriptionnn</th>
                <th>Name</th>
                <th>Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for squad in squads %}
            <tr>
                <td><a href="{{ path('squad_show', { 'id': squad.id }) }}">{{ squad.id }}</a></td>
                <td>{{ squad.filenameee }}</td>
                <td><a href="{{ path('fileee_show', { 'filename': squad.filenameee }) }}"><img
                                src="{{ path('fileee_show', { 'filename': squad.filenameee }) }}  " style="height: 250px"></a>
                {#<td>{{ squad.mimeee }}</td>#}
                {#<td>{{ squad.contentsss }}</td>#}
                <td>{{ squad.descriptionnn }}</td>
                <td>{{ squad.name }}</td>
                <td>{{ squad.info }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('squad_show', { 'id': squad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('squad_edit', { 'id': squad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('squad_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
