{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}



            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.isDeleted }}</td>
                <td>{% if contact.isDeleted %}Usunięty{% else %}Nie usunięty{% endif %}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contacts_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
