{% extends "::base.html.twig" %}
{% block body %}

    layout
    <ul>

        {#<li><a href="{{ path('aktor_index') }}">Lista aktorów</a></li>#}
        {#<li><a href="{{ path('film_index') }}">Lista filmów</a></li>#}
        <li><a href="{{ path('homepage') }}">Homepage</a></li>
            {#<li><a href="{{ path('url_form') }}">Form</a></li>#}
            <li><a href="{{ path('url_all') }}">All</a></li>
            <li><a href="{{ path('url_rule') }}">Rule</a></li>

    </ul>
    endblock layout
    {% block content %}
    {% endblock %}
{% endblock %}


