<ul>
    {% for film in dane %}


                {#{{ film }}#}
                {#{{ film.id }}#}
                {#{{ film.filenamee }}#}
                {#{{ film.mimee }}#}
                {#{{ film.contentss }}#}
                {#{{ film.descriptionn }}#}
            <div class="col-md-3">
                <a href="{{ path('film_show', { 'id': film.id }) }}" class="thumbnail" >
                <img class= "img-responsive" src="{{ path('file_show', { 'filename': film.filenamee }) }}" alt="..." style="height: 180px">
                </a>
                {{ film.descriptionn }}
                </div>


    {% endfor %}
</ul>