{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kontakt</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Nazwa obrazka</th>
                <td>{{ contact.cofilename }}</td>
            </tr>
            <tr>
                <th>Typ obrazka</th>
                <td>{{ contact.conmime }}</td>
            </tr>
            <tr>
                <th>Obrazek</th>
                <td>{{ contact.cocontents }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ contact.condescription }}</td>
            </tr>
            <tr>
                <th>Imię i nazwisko</th>
                <td>{{ contact.conname }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ contact.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.meil }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edycja</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
