{% extends 'base.html.twig' %}

{% block body %}
{#Hello World!#}

{#<a href="{{ path('tasks_new') }}"> Login</a>#}
{# total items count #}
<div class="count">
    {#{{ pagination.getTotalItemCount }}#}
</div>
<div class="col-md-12">
<table>
    <tr>
         {#sorting of properties based on query components#}
        {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>#}
        {#<th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>#}
        {#<th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description', 'a.description') }}</th>#}
        {#<th{% if pagination.isSorted('a.posted') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Posted', 'a.posted') }}</th>#}

    </tr>

    {# table body #}
    {% for article in pagination %}
        {#<tr {% if loop.index is odd %}class="color"{% endif %}>#}
            {#<td>{{ article.id }}</td>#}
            {#<td>{{ article.title }}</td>#}
            {#<td>{{ article.description }}</td>#}
            {#<td>{{ article.posted|date('Y-m-d H:i:s') }}</td>#}

        {#</tr>#}

        <!-- Comment -->
        <div class="media" style="border-bottom: dotted 2px;">
            <div class="media-body">
                <h4 class="media-heading">{{ article.title }}
                    <small style="float: right">{{ article.posted|date('Y-m-d H:i:s') }}</small>
                </h4>
                <br/>
                <br/>
                    {{ article.description }}
            </div>
        </div>



    {% endfor %}
</table>
</div>

<div class="col-md-12">
{# display navigation #}

<div class="navigation" style="text-align: center;bottom:0;">
    {{ knp_pagination_render(pagination) }}
</div>
</div>

{% endblock %}
